PORT=3000
DB_HOST=gateway01.ap-southeast-1.prod.aws.tidbcloud.com
DB_PORT=4000
DB_USER=your_tidb_username.root
DB_PASSWORD=your_tidb_password
DB_NAME=farmer
DB_SSL=true
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRES_IN=1d
